body {
    font-family: Arial, sans-serif;
    background-color: #F1F1F1;
    color: #C2C2C2;
    font-weight: bold; /* Don't work! */
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.search {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}

.search input {
    height: 110px;
    font-size: 6em;
    font-weight: bold;
    border: none;
    background-color: #F1F1F1;
    color: #ec5a62;
}

input::placeholder {
    color: #C2C2C2;
}

button {
    background: none;
    border: none;
    transition: all 0.2s ease-in-out;
    outline: none;
    height: 80px;
}

button:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

button:active {
    transform: scale(0.9);
    transition: all 0.05s ease-in-out;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: rgba(118,117,128,0.05);
    font-size: 12px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    margin: 5px 0;
}

li:hover {
    background-color: rgba(118,117,128,0.1);
    color: #ec5a62;
    transition: all 0.2s ease-in-out;
}

li:hover a {
    color: #ec5a62;
    transition: all 0.2s ease-in-out;
}

a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #C2C2C2;
    text-decoration: none;
}

img {
    padding: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 30%;
}

.people img {
    border-radius: 50%;
}